<div class="loading-shade"
*ngIf="isLoading">
<mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div class="welcome">
    <span>Bienvenido {{nombre_completo}}</span>
</div>

<div class="container">
    <div class="content">
        <div class="header-container">
            <div class="pantalla-container">
                <div class="pantalla">
                    <span >Pantalla principal</span>
                </div>
            </div>
            <div class="save-button">
                <button

                style="height: 2rem; display: flex; justify-content: center; align-items: center;"
                [disabled]="consolasSelected.length === 0 "
                mat-raised-button type ="submit"  color="primary" 
                (click) = "onSaveConsolas()"
                >
                <span>Guardar </span> <mat-icon>save </mat-icon>
            </button>  
            </div>
        </div>
        <mat-grid-list  cols="6" rowHeight="2:1">
            <mat-grid-tile *ngFor = "let consola of consolas">
                <div class = {{onSearch(consola?.consola_id)}} (click)="onClick(consola)">
                    <div class="consola-siglas ppnn">
                        <div class="consola-siglas-text">{{consola?.siglas}}</div>
                    </div>
                    <div class="consola-numero">{{consola?.numero}}</div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>