.card{
  width: 200px;
  height: 80px;
  border-bottom: #427FEC solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1500px) {
    transform: scale(0.8);
  }
}

.icon-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.icon-section{
  width: 35%;
  height: 100%;
}

.text-section{
  width: 55%;
  flex-direction: column;
}

.text-title{
  color: #6F839A;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.text-subtitle{
  color: black;
  font-size: 20px;
  font-weight: 600;
}