<mat-sidenav-container class="optimization-scroll">
  <mat-sidenav  style="width: 17%;" #sidenav mode="side" [(opened)]="opened" class="optimization-scroll">
    <mat-toolbar class="optimization-scroll" >Menu</mat-toolbar>
    <app-sidebar class="optimization-scroll"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header style="height: 10%;" (toggleSidenav)="sidenav.toggle()"></app-header>
    <div style="height: 90%; background-color: #EBEDEF;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


