<div class="loading-shade"
*ngIf="isLoading">
<mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="container">
  <div class="content">
    
    <div class="titulo" style="padding: 2rem 0 1rem 3rem;">
      {{nombre}}
    </div>

    <div class="divide-panel">
      <div class="panel1">
        <mat-form-field appearance="standard" class="mat-form-field">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div style="padding: 1rem 3rem 3rem 3rem; overflow-x: auto;">
          <table class="custom-table" mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="consola">
              <th style="width: 20%;" mat-header-cell *matHeaderCellDef mat-sort-header> Consola </th>
              <td mat-cell *matCellDef="let row"> {{row.consola}} </td>
            </ng-container>
        
            <ng-container matColumnDef="area">
              <th style="width: 20%;"mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
              <td mat-cell *matCellDef="let row"> {{row.area}} </td>
            </ng-container>
    
            <ng-container matColumnDef="inasistencias">
              <th style="width: 12%;" mat-header-cell *matHeaderCellDef mat-sort-header> Inasistencias </th>
              <td mat-cell *matCellDef="let row"> {{row.inasistencias}} </td>
            </ng-container>
            
            <ng-container matColumnDef="porcentaje">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Inasistencias/Turnos </th>
              <td mat-cell *matCellDef="let row"> {{row.porcentaje}} </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4"> No se han encontrado resultados para "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSize]="10"></mat-paginator>
        </div>
      </div>

      <div class="panel2">
        <div class="resumen_title">RESUMEN MENSUAL DE LA INSTITUCIÓN</div>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>
            <app-card [titulo] = "title_turnos" [valor] = "turnos" [icono]="icono_turnos"></app-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-card [titulo]="title_inasistencias" [valor]="inasistencias_totales" [icono]="icono_inasistencias"></app-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-card [titulo]="title_promerio_inasistencias" [valor]="promedio_inasistencias" [icono]="icono_promedio_inasistencias"></app-card>
          </mat-grid-tile>
        </mat-grid-list>
        <br/>
        <div *ngIf="area1 ==='VIDEOVIGILANCIA' || area1 === 'DESPACHO'">
          <div class="resumen_title">{{area1}}</div>
          <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile >
              <app-card [titulo]="title_inasistencias" [valor]="area1_inasistencias" [icono]="icono_inasistencias"></app-card>
            </mat-grid-tile>
            <mat-grid-tile >
              <app-card [titulo]="title_promerio_inasistencias" [valor]="area1_promedio" [icono]="icono_promedio_inasistencias"></app-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        
        <div *ngIf="area2 ==='VIDEOVIGILANCIA' || area2 === 'DESPACHO'">
          <div class="resumen_title">{{area2}}</div>
          <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile >
              <app-card [titulo]="title_inasistencias" [valor]="area2_inasistencias" [icono]="icono_inasistencias"></app-card>
            </mat-grid-tile>
            <mat-grid-tile >
              <app-card [titulo]="title_promerio_inasistencias" [valor]="area2_promedio" [icono]="icono_promedio_inasistencias"></app-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>