.container {
  width: 100%;
  height: 100%;
  color: black;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  background-color: #EBEDEF;

  .content{   
    width: 100%;
    height: 100%;
    background-color: white;
    .custom-table{
      width: 100%;
    }
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    color: black; width: 100%; padding:0rem 3rem 0 3rem; box-sizing: border-box;
  }
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

.divide-panel{
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: row;
  .panel1{
    width: 65%;
  }
  .panel2{
    width: 35%;
  }
}

.card{
  background-color: red;
  width: 200px;
  height: 80px;
  border-bottom: #427FEC solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.icon-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.icon-section{
  width: 35%;
  height: 100%;
}

.text-section{
  width: 55%;
  flex-direction: column;
}

.text-title{
  color: #6F839A;
  font-size: 12px;
  font-weight: 600;
}

.text-subtitle{
  color: black;
  font-size: 20px;
  font-weight: 600;
}