<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="container">
    <div class="content-title"> 
      <div class="title-text">
        RESUMEN
      </div>
		</div>
    <br/>
    <div class="content">
      <br/>
      <div class="title-text">
        Seleccione uno o varios criterios
      </div>
      <br/>
      <div class="content-filters">
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Institución: </div>
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_institucion">
                <mat-option [value]="institucion.value" *ngFor="let institucion of instituciones">{{ institucion.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Año: </div>
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_year">
                <mat-option [value]="year.value" *ngFor="let year of years">{{ year.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Mes:</div>
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_month">
                <mat-option [value]="mes.value" *ngFor="let mes of meses">{{ mes.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Turno: </div> 
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [value] = "selected_turno" multiple>
                <mat-select-trigger>
                  {{selected_turno.length > 0 ? turnos[0].viewValue : "" || ''}}
                  <span *ngIf="(selected_turno?.length || 0) > 1" class="example-additional-selection">
                    (+{{(selected_turno?.length || 0) - 1}} {{selected_turno?.length === 2 ? '' : ''}})
                  </span>
                </mat-select-trigger>
                <mat-option [value]="turno.value" *ngFor="let turno of turnos" (click)="onClickSelect(turno.value)">{{ turno.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          
        </div>
      </div>
      <div style="margin: 3rem; background-color: white;">
        <div style="width: 100%; overflow: auto; padding: 2rem; box-sizing: border-box;" class="optimization-scroll">
          <app-academy-chart-turnos></app-academy-chart-turnos>
        </div>
      </div>
      
<!--       <div class="charts">
        <div class="pie-charts">
          <div class="pie">
            <div style="width: 100%; height: 10%;">
            Por consola
            </div>
            <app-pie-chart [id]="container"></app-pie-chart>
          </div>
          <div style="height: 10%;"></div>
          <div class="pie">
            <div style="width: 100%; height: 10%;">
              Por turno
            </div>
            <app-pie-chart-turnos></app-pie-chart-turnos>
          </div>
        </div>
        <div class="column-chart">
          <app-academy-chart-turnos></app-academy-chart-turnos>
        </div>  
      </div> -->
    </div>
</div>