<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="container">
    <div class="content-title"> 
      <div class="title-text">
        INSTITUCIÓN
      </div>
      <div class="title-select">
        <div class="filter-title">Institución: </div>
        <mat-form-field>
          <mat-label>Valor seleccionado</mat-label>
          <mat-select  [(value)]="selected_institucion">
            <mat-option [value]="institucion.value" *ngFor="let institucion of instituciones">{{ institucion.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
		</div>
    <br/>
    <div class="content">
      <div class="title-text">
        Seleccione uno o varios criterios
      </div>
      <div class="content-filters">
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Año: </div>
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_year">
                <mat-option [value]="year.value" *ngFor="let year of years">{{ year.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Mes:</div>
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_month">
                <mat-option [value]="mes.value" *ngFor="let mes of meses">{{ mes.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="filter">
          <div class="filter-text">
            <div class="filter-title">Turno: </div> 
            <mat-form-field>
              <mat-label>Valor seleccionado</mat-label>
              <mat-select [(value)]="selected_turno">
                <mat-option [value]="turno.value" *ngFor="let turno of turnos" (click)="onClickSelect()">{{ turno.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <br/>
      <div class="charts">
        <div class="pie-charts">
          <div class="pie">
            <div style="width: 100%; height: 10%;">
            Por consola
            </div>
            <app-pie-chart [id]="container"></app-pie-chart>
          </div>
          <div style="height: 10%;"></div>
          <div class="pie">
            <div style="width: 100%; height: 10%;">
              Por turno
            </div>
            <app-pie-chart-turnos></app-pie-chart-turnos>
          </div>
        </div>
        <div class="column-chart">
          historic
        </div>  
      </div>
    </div>
</div>