<div class="loading-shade"
*ngIf="isLoading">
<mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div style="display: flex; justify-content: end; font-size: large; padding: 1% 2rem 0rem 2rem; color: black;">
    <span>Bienvenido {{nombre_completo}}</span>
</div>
<div class="container">
    <div class="content">
        <div class="header-container">
            <div class="pantalla-container">
                <div class="pantalla">
                    <span style="text-align: center; margin-top: 0.3rem;">Pantalla principal</span>
                </div>
            </div>
            <div class="save-button">
                <button

                style="height: 2rem; display: flex; justify-content: center; align-items: center;"
                [disabled]="consolasSelected.length === 0 "
                mat-raised-button type ="submit"  color="primary" 
                (click) = "onSaveConsolas()"
                >
                <span>Guardar </span> <mat-icon>save </mat-icon>
            </button>  
            </div>
        </div>
        <div class="consolas-container">
                <mat-grid-list  cols="10" rowHeight="80px">
                    <mat-grid-tile *ngFor = "let consola of consolas">
                        <div class = {{onSearch(consola?.consola_id)}} (click)="onClick(consola)" style="width: 65%; height: 85%;">
                            <div class="consola-siglas ppnn">
                                <div class="consola-siglas-text" style="font-size: 11.5px;">{{consola?.siglas}}</div>
                            </div>
                            <div class="consola-numero" style="padding: 1px 5px 1px 8px; font-size: 12px;">{{consola?.numero}}</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
        </div>
    </div>
</div>