<div class="loading-shade"
*ngIf="isLoading">
<mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div style="display: flex; justify-content: end; font-size: large; padding: 1% 2rem 0rem 2rem; color: black;">
    <span>Bienvenido {{nombre_completo}}</span>
</div>
<div class="container">
    <div class="content">
        <div class="header-container">
            <div class="pantalla-container">
                <div class="pantalla">
                    <span style="text-align: center; margin-top: 0.3rem;">Pantalla principal</span>
                </div>
            </div>
            <div class="save-button">
                <button

                style="height: 2rem; display: flex; justify-content: center; align-items: center;"
                [disabled]="consolasSelected.length === 0 "
                mat-raised-button type ="submit"  color="primary" 
                (click) = "onSaveConsolas()"
                >
                <span>Guardar </span> <mat-icon>save </mat-icon>
            </button>  
            </div>
        </div>
        <div class="consolas-container">

            <div class="consolas-row">
                <div class={{onSearch(consolas[0]?.consola_id)}} (click)="onClick(consolas[0])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[0]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[0]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[1]?.consola_id)}} (click)="onClick(consolas[1])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[1]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[1]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[2]?.consola_id)}} (click)="onClick(consolas[2])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[2]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[2]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[3]?.consola_id)}} (click)="onClick(consolas[3])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[3]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[3]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[4]?.consola_id)}} (click)="onClick(consolas[4])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[4]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[4]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[5]?.consola_id)}} (click)="onClick(consolas[5])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[5]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[5]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[6]?.consola_id)}} (click)="onClick(consolas[6])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[6]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[6]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[7]?.consola_id)}} (click)="onClick(consolas[7])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[7]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[7]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[8]?.consola_id)}} (click)="onClick(consolas[8])">
                    <div class = "consola-title" style="background-color: #92CDDC;">
                        {{consolas[8]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[8]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[9]?.consola_id)}} (click)="onClick(consolas[9])">
                    <div class = "consola-title" style="background-color: #92CDDC;">
                        {{consolas[9]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[9]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[10]?.consola_id)}} (click)="onClick(consolas[10])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[10]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[10]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[11]?.consola_id)}} (click)="onClick(consolas[11])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[11]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[11]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[12]?.consola_id)}} (click)="onClick(consolas[12])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[12]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[12]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[13]?.consola_id)}} (click)="onClick(consolas[13])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[13]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[13]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[14]?.consola_id)}} (click)="onClick(consolas[14])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[14]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[14]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[15]?.consola_id)}} (click)="onClick(consolas[15])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[15]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[15]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[16]?.consola_id)}} (click)="onClick(consolas[16])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[16]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[16]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[17]?.consola_id)}} (click)="onClick(consolas[17])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[17]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[17]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[18]?.consola_id)}} (click)="onClick(consolas[18])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[18]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[18]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[19]?.consola_id)}} (click)="onClick(consolas[19])">
                    <div class = "consola-title" style="background-color: #B1A0C7;">
                        {{consolas[19]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[19]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[20]?.consola_id)}} (click)="onClick(consolas[20])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[20]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[20]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[21]?.consola_id)}} (click)="onClick(consolas[21])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[21]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[21]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[22]?.consola_id)}} (click)="onClick(consolas[22])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[22]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[22]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[23]?.consola_id)}} (click)="onClick(consolas[23])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[23]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[23]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[24]?.consola_id)}} (click)="onClick(consolas[24])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[24]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[24]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[25]?.consola_id)}} (click)="onClick(consolas[25])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[25]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[25]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[26]?.consola_id)}} (click)="onClick(consolas[26])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[26]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[26]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[27]?.consola_id)}} (click)="onClick(consolas[27])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[27]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[27]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[28]?.consola_id)}} (click)="onClick(consolas[28])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[28]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[28]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[29]?.consola_id)}} (click)="onClick(consolas[29])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[29]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[29]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[30]?.consola_id)}} (click)="onClick(consolas[30])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[30]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[30]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[31]?.consola_id)}} (click)="onClick(consolas[31])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[31]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[31]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[32]?.consola_id)}} (click)="onClick(consolas[32])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[32]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[32]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[33]?.consola_id)}} (click)="onClick(consolas[33])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[33]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[33]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[34]?.consola_id)}} (click)="onClick(consolas[34])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[34]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[34]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[35]?.consola_id)}} (click)="onClick(consolas[35])">
                    <div class = "consola-title" style="background-color: #FF6600;">
                        {{consolas[35]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[35]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[36]?.consola_id)}} (click)="onClick(consolas[36])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[36]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[36]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[37]?.consola_id)}} (click)="onClick(consolas[37])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[37]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[37]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[38]?.consola_id)}} (click)="onClick(consolas[38])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[38]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[38]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[39]?.consola_id)}} (click)="onClick(consolas[39])">
                    <div class = "consola-title" style="background-color: #E6B8B7;">
                        {{consolas[39]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[39]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[40]?.consola_id)}} (click)="onClick(consolas[40])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[40]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[40]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[41]?.consola_id)}} (click)="onClick(consolas[41])">
                    <div class = "consola-title" style="background-color: #FF6600;">
                        {{consolas[41]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[41]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[42]?.consola_id)}} (click)="onClick(consolas[42])">
                    <div class = "consola-title" style="background-color: #FF6600;">
                        {{consolas[42]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[42]?.numero}}</span>
                    </div>
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>SUPERVISOR</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>SUPERVISOR</span>
                    </div >
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[43]?.consola_id)}} (click)="onClick(consolas[43])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[43]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[43]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[44]?.consola_id)}} (click)="onClick(consolas[44])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[44]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[44]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[45]?.consola_id)}} (click)="onClick(consolas[45])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[45]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[45]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[46]?.consola_id)}} (click)="onClick(consolas[46])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[46]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[46]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[47]?.consola_id)}} (click)="onClick(consolas[47])">
                    <div class = "consola-title" style="background-color: #DAEEF3;">
                        {{consolas[47]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[47]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[48]?.consola_id)}} (click)="onClick(consolas[48])">
                    <div class = "consola-title" style="background-color: #00B0F0;">
                        {{consolas[48]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[48]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[49]?.consola_id)}} (click)="onClick(consolas[49])">
                    <div class = "consola-title" style="background-color: #00B0F0;">
                        {{consolas[49]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[49]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[50]?.consola_id)}} (click)="onClick(consolas[50])">
                    <div class = "consola-title" style="background-color: #00B0F0;">
                        {{consolas[50]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[50]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[51]?.consola_id)}} (click)="onClick(consolas[51])">
                    <div class = "consola-title" style="background-color: #A26E23;">
                        {{consolas[51]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[51]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[52]?.consola_id)}} (click)="onClick(consolas[52])">
                    <div class = "consola-title" style="background-color: #A26E23;">
                        {{consolas[52]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[52]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[53]?.consola_id)}} (click)="onClick(consolas[53])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[53]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[53]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[54]?.consola_id)}} (click)="onClick(consolas[54])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[54]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[54]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[55]?.consola_id)}} (click)="onClick(consolas[55])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[55]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[55]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[56]?.consola_id)}} (click)="onClick(consolas[56])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[56]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[56]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[57]?.consola_id)}} (click)="onClick(consolas[57])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[57]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[57]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class="consola-sn">
                    <div class="sn">
                        <span>E.Q.Q</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>E.P.M.A.P.S</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>E.P.M.M.O.P</span>
                    </div >
                </div>
                <div class={{onSearch(consolas[58]?.consola_id)}} (click)="onClick(consolas[58])">
                    <div class = "consola-title" style="background-color: #F7F759;">
                        {{consolas[58]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[58]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[59]?.consola_id)}} (click)="onClick(consolas[59])">
                    <div class = "consola-title" style="background-color: #00B050;">
                        {{consolas[59]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[59]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[60]?.consola_id)}} (click)="onClick(consolas[60])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[60]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[60]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[61]?.consola_id)}} (click)="onClick(consolas[61])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[61]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[61]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[62]?.consola_id)}} (click)="onClick(consolas[62])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[62]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[62]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[63]?.consola_id)}} (click)="onClick(consolas[63])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[63]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[63]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[64]?.consola_id)}} (click)="onClick(consolas[64])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[64]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[64]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[65]?.consola_id)}} (click)="onClick(consolas[65])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[65]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[65]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[66]?.consola_id)}} (click)="onClick(consolas[66])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[66]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[66]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[67]?.consola_id)}} (click)="onClick(consolas[67])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[67]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[67]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[68]?.consola_id)}} (click)="onClick(consolas[68])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[68]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[68]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[69]?.consola_id)}} (click)="onClick(consolas[69])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[69]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[69]?.numero}}</span>
                    </div>
                </div>
                <div class="camino"></div>
                <div class={{onSearch(consolas[70]?.consola_id)}} (click)="onClick(consolas[70])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[70]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[70]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[71]?.consola_id)}} (click)="onClick(consolas[71])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[71]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[71]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[72]?.consola_id)}} (click)="onClick(consolas[72])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[72]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[72]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[73]?.consola_id)}} (click)="onClick(consolas[73])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[73]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[73]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[74]?.consola_id)}} (click)="onClick(consolas[74])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[74]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[74]?.numero}}</span>
                    </div>
                </div>
            </div>

            <div class="consolas-row">
                <div class={{onSearch(consolas[75]?.consola_id)}} (click)="onClick(consolas[75])">
                    <div class = "consola-title" style="background-color: #D8E4BC;">
                        {{consolas[75]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[75]?.numero}}</span>
                    </div>
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>LOCALIZADOR</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>CALIDAD</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>CALIDAD</span>
                    </div >
                </div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>NO ASIGNADA</span>
                    </div >
                </div>
                <div class="camino"></div>
                <div class="consola-sn">
                    <div class="sn">
                        <span>NO ASIGNADA</span>
                    </div >
                </div>
                <div class={{onSearch(consolas[76]?.consola_id)}} (click)="onClick(consolas[76])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[76]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[76]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[77]?.consola_id)}} (click)="onClick(consolas[77])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[77]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[77]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[78]?.consola_id)}} (click)="onClick(consolas[78])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[78]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[78]?.numero}}</span>
                    </div>
                </div>
                <div class={{onSearch(consolas[79]?.consola_id)}} (click)="onClick(consolas[79])">
                    <div class = "consola-title" style="background-color: #FD5252;">
                        {{consolas[79]?.siglas}}
                    </div >
                    <div class="numero">
                        <span>{{consolas[79]?.numero}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>