<ng-container *ngIf=" Role ==='ADMINISTRADOR'"  style="overflow-y: auto;" class="optimization-scroll">
    <mat-nav-list>
        <a mat-list-item routerLink="/administrador">
            <mat-icon>
              insert_chart_outlined
            </mat-icon>
            <span class="nav-link">Dashboard</span>
        </a>
        <a mat-list-item routerLink="/administrador/usuarios" class="center-all">
            <mat-icon>
                people
            </mat-icon>
            <span class="nav-link">Usuarios</span>
        </a>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-icon>
                    table_view
                </mat-icon>
                <span class="nav-link">Resumen por institución</span>
                <mat-icon>
                    arrow_drop_down
                </mat-icon>
              </mat-expansion-panel-header>
              <a mat-list-item (click)="onInstitucion('A.M.T')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">A.M.T</span>
              </a>
              <a mat-list-item (click)="onInstitucion('A.N.T')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">A.N.T</span>
              </a>
              <a mat-list-item (click)="onInstitucion('C.B.D.M.Q')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">C.B.D.M.Q</span>
              </a>
              <a mat-list-item (click)="onInstitucion('C.O.E')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">C.O.E</span>
              </a>
              <a mat-list-item (click)="onInstitucion('C.R.E')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">C.R.E</span>
              </a>
              <a mat-list-item (click)="onInstitucion('E.M ASEO')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">E.M ASEO</span>
              </a>
              <a mat-list-item (click)="onInstitucion('F.F.A.A')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">F.F.A.A</span>
              </a>
              <a mat-list-item (click)="onInstitucion('M.S.P Z2')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">M.S.P Z2</span>
              </a>
              <a mat-list-item (click)="onInstitucion('M.S.P Z9')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">M.S.P Z9</span>
              </a>
              <a mat-list-item (click)="onInstitucion('P.M.Q')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">P.M.Q</span>
              </a>
              <a mat-list-item (click)="onInstitucion('P.P.N.N')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">P.P.N.N</span>
              </a>
              <a mat-list-item (click)="onInstitucion('S.N.G.R.E')">
                <mat-icon>
                    table_chart
                </mat-icon>
                <span class="nav-link">S.N.G.R.E</span>
              </a>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-nav-list>
</ng-container>